/output/
/logs/
data/high_abuse_countries.json
/models/*
./0-Temp

__pycache__/
*.py[cod]

*.log
*.tmp
*.swp

.env
.env.*

.vscode/
.idea/
.venv
.venv/
*.sublime-project
*.sublime-workspace
output/results.json
data/dataset_for_ml.csv
data/high_abuse_countries.json

.DS_Store
Thumbs.db
annotation-dev.txt

*.pid
*.sock

build/
dist/
*.egg-info/

.ipynb_checkpoints/

.cache/
.pytest_cache/